<h2 mat-dialog-title class="dialog-title">
      <mat-icon *ngIf="data.confirmColor === 'warn'" color="warn">warning</mat-icon>
      <mat-icon *ngIf="data.confirmColor !== 'warn'">help_outline</mat-icon>
      {{ data.title }}
    </h2>
    <mat-dialog-content class="dialog-content">
      <p>{{ data.message }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="dialog-actions">
      <button mat-button [mat-dialog-close]="false">
        {{ data.cancelText }}
      </button>
      <button 
        mat-raised-button 
        [color]="data.confirmColor || 'primary'"
        [mat-dialog-close]="true"
        cdkFocusInitial>
        {{ data.confirmText }}
      </button>
    </mat-dialog-actions>
